* {
    /* margin: 0;
    padding: 0; */
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Mulish', sans-serif;
}

/* ///////////////////////////////////////////// */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px 0px 130px;
    margin-top: 24px;

}

.res {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}



.nav-menu-container ul {
    display: flex;
    gap: 40px;
    list-style: none;

}

.nav-menu-container .i{
    display: none;
    font-size: 6vw;
}

.nav-menu-container ul li a {
    text-decoration: none;
    color: #424247;
    font-family: Mulish;
    font-size: 1.1rem;
    font-weight: 550;
}

.nav-title-black {
    color: #131318;
    font-family: Mulish;
    font-size: 2.2rem;
    font-weight: 900;
}

.nav-title-orange {
    color: #FF5400;
    font-family: Mulish;
    font-size: 2.1rem;
    font-weight: 800;
}


.nav-menu-container ul .nav-home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 1.1rem;
    font-weight: 700;
}

/* /////////////////////////////////////////////////// */

.header-container-img {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    width: 85%;
    height: 446px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header-title h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 900;
}

.header-dis p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    padding: 10px 15%;
    margin-top: -50px;
}

.header-input {
    padding: 15px 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 51%;
    margin-top: -20px;
}

.header-input input {
    width: 7rem;
    padding: 16px 0px 16px 15px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}

.header-input .inp2{
    background: #FFF;
    border: none;
    padding: 15px 15px 15px 5px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}
.header-input .inp1{
    background: #FFF;
    border: none;
    padding: 15px 56px 15px 4px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

.header-input .find-btn {

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 14px 10px 15px 2px;
    display: flex;
    gap: 8px;
}

/* ////////////////////////////////////////////////// */

.hill-container {
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    margin-top: 100px;

}

.hill-content {
    width: 50%;
}

.hill-img {
    width: 50%;
}

.hill-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    margin-top: 0px;
}

.hill-dis {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    margin-top: 20px;
}

.hill-dis li {
    margin-top: 20px;
    margin-left: -15px;
}

.hill-btn {
    padding: 13px 30px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 10px;
}

/* ///////////////////////////////////// */

.choose-container {
    width: 100%;
    margin: 100px auto;
}

.choose-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.6rem;
    font-weight: 800;
}

.choose-dis {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 210px;
}


.photo-collage{
    padding: 0 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item{
    position: relative;
    height: 300px;
    text-align: center;
}

.photo-collage img{
    width: 100%;
    height: 100%;
}

.item1{
    grid-column: auto/span 6;
}
.item2{
    grid-column: auto/span 6;
}
.item3{
    grid-column: auto/span 4;
}
.item4{
    grid-column: auto/span 5;
}
.item5{
    grid-column: auto/span 3;
}
.item6{
    grid-column: auto/span 5;
}
.item7{
    grid-column: auto/span 7;
}



.text{
    border-radius: 15px;
    font-size: 24px;
    font-weight: 800;
    color: white;
    background-color: #00000034;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* ///////////////////////////////////// */

.why-best-container {
    width: 85%;
    margin: 100px auto;
}

.best-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.6rem;
    font-weight: 800;
}

.best-dis {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 0 230px;
}

.best-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}


.b-card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 15px;
    width: 45%;
}

.b-card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 15px;
    width: 45%;
}

.b-card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 15px;
    width: 45%;
}

.card-title {
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}

.card-dis {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* ////////////////////////////////////////// */

.discount-container {
    width: 85%;
    margin: 100px auto;
}

.discount-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.discount-dis {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 0 220px;
}




.discount-1 {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 500px;
    background-image: url("./Images/Rectangle\ 12.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 50px;
    margin-top: 24px;
}

.discount-2 {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 500px;
    background-image: url("./Images/Rectangle\ 12\ ..2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 50px;
    margin-top: 24px;
}

.discount-3 {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 500px;
    background-image: url("./Images/Rectangle\ 12.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 50px;
    margin-top: 24px;
}






.time-price1-content {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: 50%;

    /* width: 579px;
    height: 389px; */


}

.time-price .tp {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}

.price-dis .tp {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.price-dis .pl-name {
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}

.t-price {
    color: #FF5400;
    font-family: Mulish;
    font-size: 1.3rem;
    font-weight: 800;
}

.pr-btn {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 24px;
}

.Packages-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.Packages-btn button {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 24px;
}


.time-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* /////////////////////////////////////////////////// */


.video-container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    gap: 25px;

}

.video-info-content {
    width: 48%;
}

.vd-inf-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
    padding-right: 50px;
    margin-top: 0px;
}

.vd-inf-dis {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
}

.video-info-content ul li {
    color: #131318;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    margin-left: -10px;
    margin-bottom: 5px;
}

.video-content {
    width: 52%;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}

.video-content .video1 {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

/* ///////////////////////////////////////////////////////// */


.form-container {
    margin: 100px auto;
    width: 85%;
    display: flex;
    gap: 15px;
}

.form-content {
    width: 40%;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    /* padding-top: 30px; */

}

.form-content hr {
    width: 90%;
    margin-top: 40px;
}

.form-content h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.8rem;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 30px;
}

.form-content p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 26px;
    padding-left: 30px;
}

.form-content input {
    margin-left: 30px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 180px 15px 15px;
    margin-top: 20px;
    border: none;
}

.form-content button {
    margin-left: 30px;
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 145px;
    margin-top: 20px;
    border: none;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

.img-content {
    background-image: url("./Images/Rectangle\ 8\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 422px;
    border-radius: 16px;
    position: relative;
}

.img-dis {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    left: 50%;
    top: 60%;
    
}

.img-dis h3 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 15px;
}

.img-dis h2 {
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    margin-top: -15px;
}

/* //////////////////////////////////////// */

.footer-container {
    background: rgba(19, 19, 24, 0.05);
    padding: 70px 248px;
}

.foot-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: -52px;
}

.foot-dis {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
}

.foot-icon {
    text-align: center;
    margin-top: 33px;
    margin-bottom: 35px;
}

hr{
    color: rgba(19, 19, 24, 0.10);;
}

.footer-container p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 41px;
}











/* //////////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {



    .nav-title-black,
    .nav-title-orange {
        font-size: 1.3rem;
    }

    .nav {
        display: flex;
        padding: 0px 20px;
        margin-top: 50px;

    }

    .nav-container {
        gap: 5px;
    }



    .nav-menu-container .i{
        display: block;
        font-size: 6vw;
    }

    .nav-menu-container ul {
        display: none;
    }

    .header-input {
        flex-direction: column;
    }

    /* ///////////////////////////////////// */

    .header-title h1 {
        font-size: 1.8rem;
    }

    .header-dis p {
        font-size: 0.8rem;
        padding: 0px 15px;
        margin-top: -15px;
    }

    .header-container-img {
        width: 90%;
        height: 540px;
        margin-top: 20px;
    }

    .header-input {
        padding: 18px 0px;
        gap: 13px;
    }

    .header-input .find-btn {
        padding: 15px 10px 15px 10px;
    }

    /* /////////////////////////////////////// */

    .hill-container {
        padding: 0 10px;
        flex-direction: column;
        margin-top: 24px;
    }

    .hill-content {
        width: 100%;
    }

    .hill-img {
        width: 100%;
        margin-top: -24px;
    }

    .hill-title {
        font-size: 1.4rem;
    }

    /* //////////////////////////////////////////////// */


    .choose-title{
        font-size: 1.8rem;    }

    .choose-dis {
        padding: 0px;
    }

   .photo-collage{
    padding: 0 10px;
    grid-template-columns: 1fr;
   }

   .photo-collage .item{
    height: 200px;
    grid-column: auto;
   }

    /* ////////////////////////////////////////     */

    .why-best-container {
        margin: 0px auto;
        width: 100%;
    }

    .best-title {
        font-size: 1.2rem;
    }

    .best-dis {
        padding: 0px 20px;
        margin-bottom: -25px;
    }

    .best-card {
        flex-direction: column;
        width: 90%;
        margin: 40px auto;
    }

    .b-card1 {
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        padding: 15px;
        width: 90%;
        margin-top: 16px;
    }

    .b-card2 {
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        padding: 15px;
        width: 90%;
    }

    .b-card3 {
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        padding: 15px;
        width: 90%;
    }

    /* /////////////////////////////////////////// */

    .discount-container {
        width: 100%;


    }

    .discount-title {
        font-size: 1.3rem;
        margin-bottom: -20px;
    }

    .discount-dis {
        padding: 10px;
        margin-bottom: -15px;
    }

    .discount-1,
    .discount-2,
    .discount-3 {
        width: 95%;
        margin: 20px auto;
        padding: 0px;
        justify-content: center;
        align-items: end;
    }

    .time-price1-content {
        width: 75%;
        height: 60%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .time-price {
        gap: 5px;
        height: 24%;
    }

    .tp {
        height: 70px;
        overflow-y: scroll;
    }

    .t-price,
    .pl-name {
        margin: 0;
    }

    .price-dis .pr-btn {
        margin-top: 18px;
    }

    /* //////////////////////////////////////////////////    */

    .video-container {
        flex-direction: column;
    }

    .video-info-content {
        width: 100%;
    }

    .vd-inf-title {
        font-size: 1.5rem;
        line-height: 30px;
        padding-right: 50px;
    }

    .vd-inf-dis,
    .video-info-content ul {
        font-size: 0.8rem;

    }


    .video-content {
        width: 100%;
    }

    /* ///////////////////////////////////// */

    .form-container {
        flex-direction: column;
    }

    .form-content {
        width: 100%;
        height: 422px;
    }

    .img-content {
        width: 100%;
        height: 300px;
        height: 422px;
    }

    .img-dis {
        left: 29%;
        top: 74%;
        width: 214px;
        height: 79px;

    }

    .img-dis h3{
        padding: 0;
    }
    .img-dis h2{
        margin-top: -23px;
        font-size: 22px;
    }


    .form-content hr {
        width: 90%;
        margin-top: 10px;
    }

    .form-content input {
        padding: 15px 15% 15px 15px;

    }

    .form-content button {
        padding: 15px 25.5%;
        margin-top: 20px;

    }


    /* ///////////////////////////////// */

    .footer-container {
        background: rgba(19, 19, 24, 0.05);
        padding: 12px 16px;
    }

    .foot-header{
        margin-bottom: -10px;
    }

    .footer-container p{
        margin-top: 20px;
    }

    .foot-icon{
        margin-bottom: 22px;
    }

}